<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <title>Casabah- pasteleria tradiional </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'product/styles/style.css' %}" rel="stylesheet">
    <link href="{% static 'product/styles/lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'product/styles/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'product/styles/style.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid top-bar bg-dark text-light px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="row gx-0 align-items-center d-none d-lg-flex">
            <div class="col-lg-6 px-5 text-start">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="small text-light" href="">Inicio</a></li>
<!--                    <li class="breadcrumb-item"><a class="small text-light" href="#">Career</a></li>-->
<!--                    <li class="breadcrumb-item"><a class="small text-light" href="#">Términos</a></li>-->
<!--                    <li class="breadcrumb-item"><a class="small text-light" href="#">Privacidad</a></li>-->
                </ol>
            </div>
            <div class="col-lg-6 px-5 text-end">
                <small>Síganos:</small>
                <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn-lg-square text-primary border-end rounded-0" href="https://www.facebook.com/profile.php?id=100093126645299"><i class="fab fa-facebook-f"></i></a>
<!--                    <a class="btn-lg-square text-primary border-end rounded-0" href=""><i class="fab fa-twitter"></i></a>-->
<!--                    <a class="btn-lg-square text-primary border-end rounded-0" href=""><i class="fab fa-linkedin-in"></i></a>-->
                    <a class="btn-lg-square text-primary pe-0" href="https://www.instagram.com/casabah_pasteleria_/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="{% url 'home-page'%}" class="navbar-brand ms-4 ms-lg-0">
            <h1 class="text-primary m-0">Casabah</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto p-4 p-lg-0">
                <a href="{% url 'home-page'%}" class="nav-item nav-link active">Inicio</a>
                <a href="#about" class="nav-item nav-link">Sobre Casabah</a>
                <a href="#servicios" class="nav-item nav-link">Servicios</a>
                <a href="#product" class="nav-item nav-link">Productos</a>
<!--                <div class="nav-item dropdown">-->
<!--                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Páginas</a>-->
<!--                    <div class="dropdown-menu m-0">-->
<!--                        <a href="team.html" class="dropdown-item">Our Team</a>-->
<!--                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>-->
<!--                        <a href="404.html" class="dropdown-item">404 Page</a>-->
<!--                    </div>-->
                </div>
                <a href="#contact" class="nav-item nav-link">Contacto</a>
            </div>
            <div class=" d-none d-lg-flex">
                <div class="flex-shrink-0 btn-lg-square border border-light rounded-circle">
                    <i class="fa fa-phone text-primary"></i>
                </div>
                <div class="ps-3">
                    <small class="text-primary mb-0">CONTACTARNOS</small>
                    <p class="text-light fs-5 mb-0">+34 612 43 592</p>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{% static 'product/styles/img/carousel-24.jpg' %}"alt="">
                <div class="owl-carousel-inner">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-8">
                                <p class="text-primary text-uppercase fw-bold mb-2">// Pastelería tradicional </p>
                                <h1 class="display-1 text-light mb-4 animated slideInDown">Delicias Orientales, el sabor que te transporta a un mundo de dulzura.</h1>
                                <p class="text-light fs-5 mb-4 pb-3">ven a probar el sabor auténtico de los dulces argelinos</p>
<!--                                a link must be added here to another template -->
                                <a href="#about" class="btn btn-primary rounded-pill py-3 px-5">Más informaciones</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{% static 'product/styles/img/carousel-122.jpg'%}" alt="">
                <div class="owl-carousel-inner">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-8">
                                <p class="text-primary text-uppercase fw-bold mb-2">// La mejor pasteleria oriental </p>
                                <h1 class="display-1 text-light mb-4 animated slideInDown">Lo hacemos con todo nuestro corazón</h1>
                                <p class="text-light fs-5 mb-4 pb-3">Una combinación entre el sabor oriental y el europeo.</p>
                                <a href="#about" class="btn btn-primary rounded-pill py-3 px-5">Más informaciones</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Facts Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="fact-item bg-light rounded text-center h-100 p-5">
                        <i class="fa fa-certificate fa-4x text-primary mb-4"></i>
                        <p class="mb-2">Años de experiancia </p>
                        <h1 class="display-5 mb-0" data-toggle="counter-up">26</h1>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="fact-item bg-light rounded text-center h-100 p-5">
                        <i class="fa fa-users fa-4x text-primary mb-4"></i>
                        <p class="mb-2">Clientes satisfechos</p>
                        <h1 class="display-5 mb-0" data-toggle="counter-up">3000</h1>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="fact-item bg-light rounded text-center h-100 p-5">
                        <i class="fa fa-bread-slice fa-4x text-primary mb-4"></i>
                        <p class="mb-2">Total preparado </p>
                        <h1 class="display-5 mb-0" data-toggle="counter-up">135</h1>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.7s">
                    <div class="fact-item bg-light rounded text-center h-100 p-5">
                        <i class="fa fa-cart-plus fa-4x text-primary mb-4"></i>
                        <p class="mb-2">Pasteles vendidos</p>
                        <h1 class="display-5 mb-0" data-toggle="counter-up">9357</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->


    <!-- About Start -->
    <div id="about" class="container-xxl py-6">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row img-twice position-relative h-100">
                        <div class="col-6">
                            <img class="img-fluid rounded" src="{% static 'product/styles/img/about-1.jpg'%}" alt="">
                        </div>
                        <div class="col-6 align-self-end">
                            <img class="img-fluid rounded" src="{% static 'product/styles/img/about-22.jpg'%}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <p class="text-primary text-uppercase mb-2">// Sobre Casabah</p>
                        <h1 class="display-6 mb-4">Una variedad amplia de sabores y texturas</h1>
                        <p>La pastelería argelina es un verdadero tesoro culinario que cautiva a los amantes de los postres de todo el mundo. Su autenticidad y sabor único nos transportan a las calles y mercados de Argelia, despertando nuestros sentidos y dejándonos con ganas de probar más. ¡Un viaje gastronómico que no te puedes perder!</p>
                        <p>Cada pastel argelino es una expresión de creatividad y pasión, y su preparación requiere habilidad y paciencia. Estas delicias se disfrutan en celebraciones familiares, festividades religiosas y ocasiones especiales, y son compartidas con amor y generosidad.</p>
<!--                        <div class="row g-2 mb-4">-->
<!--                            <div class="col-sm-6">-->
<!--                                <i class="fa fa-check text-primary me-2"></i>Quality Products-->
<!--                            </div>-->
<!--                            <div class="col-sm-6">-->
<!--                                <i class="fa fa-check text-primary me-2"></i>Custom Products-->
<!--                            </div>-->
<!--                            <div class="col-sm-6">-->
<!--                                <i class="fa fa-check text-primary me-2"></i>Online Order-->
<!--                            </div>-->
<!--                            <div class="col-sm-6">-->
<!--                                <i class="fa fa-check text-primary me-2"></i>Home Delivery-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <a class="btn btn-primary rounded-pill py-3 px-5" href="">Read More</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Product Start -->
    <div id="product" class="container-xxl bg-light my-6 py-6 pt-0">
        <div class="container">
            <div class="bg-primary text-light rounded-bottom p-5 my-6 mt-0 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-6">
                        <h1 class="display-4 text-light mb-0">La mejor pasteleria en Alicante</h1>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <div class="d-inline-flex align-items-center text-start">
                            <i class="fa fa-phone-alt fa-4x flex-shrink-0"></i>
                            <div class="ms-4">
                                <p class="fs-5 fw-bold mb-0">llamnos</p>
                                <p class="fs-1 fw-bold mb-0">+34 612 543 592</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="text-primary text-uppercase mb-2">// Nuestros productos</p>
                <h1 class="display-6 mb-4">Descubre nuestros productos</h1>
            </div>
<!-- Add you loop here  and comment the rest of the items  a-->

            <div class="row g-4">
                {%for pastel in pasteles %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                        <div class="text-center p-4">
                            <div class="d-inline-block border border-primary rounded-pill px-3 mb-3">{{ pastel.price  }} €</div>
                            <h3 class="mb-3"> {{ pastel.name }}</a></h3>
                            <span>{{ pastel.description  }}</span>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid " id="image_card" src="{{pastel.featured_image.url}}"  alt="">
                            <div class="product-overlay">
                                <a class="btn btn-lg-square btn-outline-light rounded-circle" href="{% url 'product-page' pk=pastel.id%}"><i class="fa fa-eye text-primary"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% block content%}
                {% endblock %}
<!--                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">-->
<!--                    <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">-->
<!--                        <div class="text-center p-4">-->
<!--                            <div class="d-inline-block border border-primary rounded-pill pt-1 px-3 mb-3">$11 - $99</div>-->
<!--                            <h3 class="mb-3">Bread</h3>-->
<!--                            <span>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</span>-->
<!--                        </div>-->
<!--                        <div class="position-relative mt-auto">-->
<!--                            <img class="img-fluid" src="img/product-2.jpg" alt="">-->
<!--                            <div class="product-overlay">-->
<!--                                <a class="btn btn-lg-square btn-outline-light rounded-circle" href=""><i class="fa fa-eye text-primary"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">-->
<!--                    <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">-->
<!--                        <div class="text-center p-4">-->
<!--                            <div class="d-inline-block border border-primary rounded-pill pt-1 px-3 mb-3">$11 - $99</div>-->
<!--                            <h4 class="mb-3">Cookies</h4>-->
<!--                            <span>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</span>-->
<!--                        </div>-->
<!--                        <div class="position-relative mt-auto">-->
<!--                            <img class="img-fluid" src="img/product-3.jpg" alt="">-->
<!--                            <div class="product-overlay">-->
<!--                                <a class="btn btn-lg-square btn-outline-light rounded-circle" href=""><i class="fa fa-eye text-primary"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
    <!-- Product End -->


    <!-- Service Start -->
    <div id="servicios" class="container-xxl py-6">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="text-primary text-uppercase mb-2">// Nuestros servicios</p>
                    <h1 class="display-6 mb-4">¿Que ofrecemos ?</h1>
                    <p class="mb-5"></p>
                    <div class="row gy-5 gx-4">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                    <i class="fa fa-bread-slice text-white"></i>
                                </div>
                                <h5 class="mb-0">Productos de calidad</h5>
                            </div>
                            <span>Eligimos los mejores ingrediantes </span>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                    <i class="fa fa-birthday-cake text-white"></i>
                                </div>
                                <h5 class="mb-0">Productos personalisados</h5>
                            </div>
                            <span>¡Hacemos pasteles a vuestro gusto!</span>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                    <i class="fa fa-cart-plus text-white"></i>
                                </div>
                                <h5 class="mb-0">Pedido online</h5>
                            </div>
                            <span>¡Haz tu pedido facil online!</span>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                    <i class="fa fa-truck text-white"></i>
                                </div>
                                <h5 class="mb-0">Productos para llevar</h5>
                            </div>
                            <span>Nuestra variedad de productos esta a vuestra dispocision los 24h</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row img-twice position-relative h-100">
                        <div class="col-6">
                            <img class="img-fluid rounded" src="{% static 'product/styles/img/service-1.jpg'%}" alt="">
                        </div>
                        <div class="col-6 align-self-end">
                            <img class="img-fluid rounded" src="{% static 'product/styles/img/service-22.jpg'%}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
    {% endblock footer %}
    <div class="container-fluid bg-dark text-light footer my-6 mb-0 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Direción</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>C/Padre Mariana,5,03004 Alicante(Alacant)</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+34 612 54 3592</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>Casabah.alicante@gmail.com</p>
                    <div class="d-flex pt-2">
<!--                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-twitter"></i></a>-->
<!--                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>-->
<!--                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>-->
<!--                        <a class="btn btn-square btn-outline-light rounded-circle me-0" href=""><i class="fab fa-linkedin-in"></i></a>-->
                    </div>
                </div>
<!--                <div class="col-lg-3 col-md-6">-->
<!--&lt;!&ndash;                    <h4 class="text-light mb-4">Quick Links</h4>&ndash;&gt;-->
<!--                    <a class="btn btn-link" href="">Sobre Casabah</a>-->
<!--                    <a class="btn btn-link" href="">Contactos</a>-->
<!--                    <a class="btn btn-link" href="">Nuestros servicios</a>-->
<!--&lt;!&ndash;                    <a class="btn btn-link" href="">Terms & Condition</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a class="btn btn-link" href="">Support</a>&ndash;&gt;-->
<!--                </div>-->
<!--                <div class="col-lg-3 col-md-6">-->
<!--                    <h4 class="text-light mb-4">Quick Links</h4>-->
<!--                    <a class="btn btn-link" href="">About Us</a>-->
<!--                    <a class="btn btn-link" href="">Contact Us</a>-->
<!--                    <a class="btn btn-link" href="">Our Services</a>-->
<!--                    <a class="btn btn-link" href="">Terms & Condition</a>-->
<!--                    <a class="btn btn-link" href="">Support</a>-->
<!--                </div>-->
<!--                <div class="col-lg-3 col-md-6">-->
<!--                    <h4 class="text-light mb-4">Photos de productos </h4>-->
<!--                    <div class="row g-2">-->
<!--                        <div class="col-4">-->
<!--                            <img class="img-fluid bg-light rounded p-1" src="img/product-1.jpg" alt="Image">-->
<!--                        </div>-->
<!--                        <div class="col-4">-->
<!--                            <img class="img-fluid bg-light rounded p-1" src="img/product-2.jpg" alt="Image">-->
<!--                        </div>-->
<!--                        <div class="col-4">-->
<!--                            <img class="img-fluid bg-light rounded p-1" src="img/product-3.jpg" alt="Image">-->
<!--                        </div>-->
<!--                        <div class="col-4">-->
<!--                            <img class="img-fluid bg-light rounded p-1" src="img/product-2.jpg" alt="Image">-->
<!--                        </div>-->
<!--                        <div class="col-4">-->
<!--                            <img class="img-fluid bg-light rounded p-1" src="img/product-3.jpg" alt="Image">-->
<!--                        </div>-->
<!--                        <div class="col-4">-->
<!--                            <img class="img-fluid bg-light rounded p-1" src="img/product-1.jpg" alt="Image">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- Footer End -->


    <!-- Copyright Start -->
    <div id="contact" class="container-fluid copyright text-light py-4 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="">Casabah</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'product/styles/lib/wow/wow.min.js'%}"></script>
    <script src="{% static 'product/styles/lib/easing/easing.min.js'%}"></script>
    <script src="{% static 'product/styles/lib/waypoints/waypoints.min.js'%}"></script>
    <script src="{% static 'product/styles/lib/counterup/counterup.min.js'%}"></script>
    <script src="{% static 'product/styles/lib/owlcarousel/owl.carousel.min.js'%}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'product/styles/js/main.js'%}"></script>

</body>

</html>
